/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
  Custom defaults
*/

h1, h2, h3, h4, h5, h6, p, a, span, li, td, input, div, figcaption, select, option, button {
  font-family: "franklin-gothic-urw", sans-serif;
  color: rgba(74, 74, 74, 1.0);
}

a {
  text-decoration: none;
}

.mobile-visible {
  display: none !important;
}

.mobile-hidden {
  display: block;
}

#wrap .mobile-hidden {
  display: inline-block;
}

.flex-container {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-flex-direction: row;
  flex-direction: row;
}

.flex-container-center {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.bold {
  font-weight: 900 !important;
}

.semi-bold {
  font-weight: 700 !important;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.fixed-position {
  position: fixed;
}

.relative-position {
  position: relative;
}

.align-center {
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 90%;
  width: 1000px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 48px;
  margin-top: 24px;
  margin-bottom: 6px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 24px;
  margin-bottom: 0;
}

h4 {
  font-size: 14px;
  font-weight: 900;
  margin-bottom: 20px;
  text-transform: uppercase;
}

h5 {
  font-size: 16px;
  font-weight: 700;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0;
}

body {
  background: rgba(239, 239, 239, 1.0);
  padding-top: 115px;
}

.ad {
  width: 728px;
  margin: 18px auto;
  max-width: 100%;
}

.ad img {
  width: 100%;
}

/*
  Tabs
*/
ul.tabs {
  background: rgba(43, 113, 56, 1.0);
	margin: 0px;
	padding: 0px !important;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: rgba(255, 255, 255, 1.0);
	cursor: pointer;
	display: inline-block;
  font-size: 14px;
  font-weight: 900;
	padding: 10px 15px;
  text-transform: uppercase;
}

ul.tabs li.current{
	background: rgba(255, 255, 255, 1.0);
	color: rgba(43, 113, 56, 1.0);
}

.tab-content{
	display: none;
	background: rgba(255, 255, 255, 1.0);
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}

.tab-content h5 {
  color: rgba(116, 115, 116, 1.0);
  display: inline;
}

.tab-content span {
  color: rgba(155, 155, 155, 1.0);
  font-size: 14px;
}

.tab-content a {
  display: block;
  text-decoration: none;
}

.tab-content a:hover h5, .tab-content a:hover span {
  color: rgba(43, 113, 56, 1.0);
}

.tab-content a + a {
  margin-top: 6px;
}

/*
  Image slider
*/


#wrap .slider-container {
  display: block;
  position: relative;
  margin-top: 30px;
}

#wrap .slider-container .arrow {
  background: rgba(74, 74, 74, 0.6);
  color: rgba(255, 255, 255, 1.0);
  cursor: pointer;
  font-size: 32px;
  padding-top: 28%;
  position: absolute;
  top: 0;
  bottom: 22px;
  z-index: 1;
}

#wrap .slider-container .arrow:hover {
  background: rgba(74, 74, 74, 0.8);
}

#wrap .slider-container .prev {
  left: 0;
  padding-right: 25px;
}

#wrap .slider-container .next {
  right: 0;
  padding-left: 25px;
}


/*
  Filter and select styles
*/


#wrap .filters {
  padding: 30px 0;
}

#wrap aside .filters, #wrap .aside .filters {
  padding-top: 0;
}

#wrap .filters a {
  color: rgba(43, 113, 56, 1.0);
  font-size: 12px;
}

#wrap .filters label {
  color: rgba(116, 115, 116, 1.0);
  font-size: 14px;
  font-weight: 700;
  margin-right: 10px;
}

#wrap .filters h3 {
  display: inline-block;
  margin: 0 !important;
  vertical-align: middle;
}

#wrap .select-style {
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  border: 1px solid #ccc;
  width: 120px;
  border-radius: 6px;
  overflow: hidden;
  background-color: rgba(239, 239, 239, 1.0);
  background: rgba(239, 239, 239, 1.0) url("../img/arrow-drop-green.png") no-repeat 94%;
  border: 1px solid rgba(215, 215, 215, 1.0);
  color: rgba(116, 115, 116, 1.0);
  font-size: 14px;
  height: 26px;
}

#wrap .select-style select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#wrap .select-style select:focus {
  outline: none;
}

#wrap .filters .date {
  display: inline-block;
  margin-left: 30px;
}

/*
  Grid spacing
*/

.half {
  width: 48.5%;
}

.half + .half {
  margin-left: 3%;
}

.third {
  width: 31%;
}

.third + .third {
  margin-left: 3.25%;
}


.fourth {
  width: 22.75%;
}

.fourth + .fourth {
  margin-left: 2.5%;
}


/*
  Header styles
*/

header {
  width: 100%;
  overflow: hidden;
}

header .fixed-position {
  width: 100%;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  overflow: hidden;
  top:0;
  z-index: 10 !important;
}

header .next {
  background: rgba(239, 239, 239, 1.0);
  cursor: pointer;
  font-size: 30px;
  padding: 32px 0 30px 0;
  padding-left: 10px;
  vertical-align: middle;
}

header .next:hover {
  background: rgba(245, 245, 245, 1.0);
}

header > div {
  vertical-align: middle;
}

header .left-side {
  width: 300px;
}

header .logo {
  background: rgba(74, 74, 74, 1.0);
  width: 140px;
  padding: 0px 20px;
  padding-top: 7px;
  padding-bottom: 2px;
}

header .select-control {
  background: rgba(239, 239, 239, 1.0);
  padding: 27px 0;
  text-align: center;
  width: 120px;
}

header .select-control select {
  border: 1px solid rgba(155, 155, 155, 1.0);
  color: rgba(74, 74, 74, 1.0);
  font-size: 14px;
  height: 26px;
  width: 100%;
}

header .select-control .title {
  color: rgba(74, 74, 74, 1.0);
  display: block;
  font-size: 14px;
  margin-top: 6px;
}

header .score-tables {
  background: #fff;
  overflow:hidden;
}

header .score-table {
  border-right: 1px solid rgba(215, 215, 215, 1.0);
  outline: none;
  padding: 14px 10px 28px 10px;
}

header .score-table table {
  width: 100%;
}

header .score-table .score-status {
  font-size: 10px;
  font-weight: 900;
  text-transform: uppercase;
}

header .team-logo img{
  max-width: 16px;
}

header .score-tables td {
  color: rgba(116, 115, 116, 1.0);
  font-size: 14px;
  font-weight: 700;
}

header .score-tables .winner td {
  color: rgba(74, 74, 74, 1.0);
}

header .score-tables .score {
  text-align: right;
}

header .score-tables .winner .mark:before {
  color: rgba(49, 172, 74, 1.0);
  content: "\25C0";
  font-size: 10px;
  text-align: right;
}

header nav.nav-account, header nav.nav-social {
  margin-bottom: 10px;
}

header nav.nav-account a {
  color: rgba(116, 115, 116, 1.0);
  font-size: 12px;
  padding: 4px;
  text-decoration: none;
  text-transform: uppercase;
}

header nav.nav-social a {
  color: rgba(116, 115, 116, 1.0);
  font-size: 14px;
  padding: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

header nav.nav-social a:hover, header nav.nav-account a:hover {
  color: rgba(43, 113, 56, 1.0);
}

header nav.nav-main {
  background: rgba(43, 113, 56, 1.0);
  height: 22px;
  width: auto !important;
  overflow: hidden;
  padding: 20px 20px;
  left:100px;
  right:100px;
  -webkit-transition: left 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000), right 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
  -moz-transition: left 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000), right 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
  -o-transition: left 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000), right 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
  transition: left 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000), right 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
  -webkit-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000);
  -moz-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000);
  -o-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000);
  transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000);
}

header .is-sticky nav.nav-main {
  margin-top: 0;
  left: 0;
  right: 0;
  z-index: 10 !important;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}

header nav.nav-main a {
  color: rgba(255, 255, 255, 1.0);
  font-size: 18px;
  line-height: 18px;
  padding: 0 10px;
  text-decoration: none;
}

header nav.nav-main .pull-right a {
  font-weight: bold;
}

/*
  Main page styles
*/

#wrap {
  background: rgba(255, 255, 255, 1.0);
  display: block;
  padding-bottom: 30px;
}

#wrap .date {
  color: rgba(155, 155, 155, 1.0);
  font-size: 14px;
}

#wrap .button-container {
  padding: 30px 0;
  text-align: center;
}

#wrap .button-container a {
  background: rgba(239, 239, 239, 1.0);
  border: 1px solid rgba(215, 215, 215, 1.0);
  border-radius: 6px;
  color: rgba(116, 115, 116, 1.0);
  font-size: 14px;
  padding: 14px 36px;
  text-decoration: none;
}

#wrap .button-container a:hover {
  background: rgba(219, 219, 219, 1.0);
}

#wrap .row + .row {
  margin-top: 25px;
}

#wrap .score-set + .score-set {
  border-top: 2px solid rgba(239, 239, 239, 1.0) !important;
  margin-top: 30px;
  padding-top: 30px;
}

#wrap .score-set + .score-set .filters {
  padding-top: 0;
}

#wrap .score-set-item > div {
  padding: 5px;
  border: 1px solid rgba(215, 215, 215, 1.0);
}

#wrap .score-set:last-child {
  margin-bottom: 20px;
}

#wrap td:last-child {
  text-align: right;
}

#wrap .score-set-item table {
  width: 100%;
}

#wrap .score-set-item thead {
  background: rgba(239, 239, 239, 1.0);
  text-transform: uppercase;
}

#wrap .score-set-item thead td {
  color: rgba(74, 74, 74, 1.0);
  font-size: 12px;
  padding: 6px 4px;
}

#wrap .score-set-item thead.red {
  background: rgba(208, 49, 69, 1.0);
  text-transform: uppercase;
}

#wrap .score-set-item thead.red td {
  color: rgba(255, 255, 255, 1.0);
}

#wrap .score-set-item td {
  color: rgba(116, 115, 116, 1.0);
  font-size: 14px;
  padding: 2px 5px;
  font-weight: 700;
}

#wrap .winner .mark:before {
    color: rgba(49, 172, 74, 1.0);
    content: "\25C0";
    font-size: 10px;
    text-align: right;
}

#wrap .winner td {
  color: rgba(74, 74, 74, 1.0);
}

#wrap .score-set-item .footer a {
  color: rgba(116, 115, 116, 1.0);
  font-size: 12px;
  font-weight: 300;
  padding: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

#wrap .score-set-item .footer a + a {
  border-left: 1px solid rgba(116, 115, 116, 1.0);
  padding-left: 6px;
}

#wrap .score-set-item .note {
  color: rgba(116, 115, 116, 1.0);
  font-size: 12px;
  font-weight: 300;
  margin-top: 5px;
  text-transform: uppercase;
}

#wrap .data-table + .data-table {
  border-top: 2px solid rgba(43, 113, 56, 1.0);
}

#wrap .data-table .table-group + .table-group {
  margin-top: 30px;
}


#wrap .data-table.full-size td {
  padding: 5px 2px;
}

#wrap .data-table.full-size td:last-child {
  text-align: left;
}

#wrap .data-table h3 {
  margin-bottom: 20px;
}

#wrap .data-table h4 {
  color: rgba(116, 115, 116, 1.0);
  font-weight: 700;
  margin-top: 0;
}

#wrap .data-table a:not(.read-more) {
  color: rgba(43, 113, 56, 1.0);
  font-size: 14px;
  text-decoration: none;
  vertical-align: middle;
}

#wrap .data-table .team img {
  max-width: 18px;
  margin-right: 6px;
  vertical-align: middle;
}

#wrap .data-table table {
  width: 100%;
}

#wrap .data-table thead {
  background: rgba(239, 239, 239, 1.0);
}

#wrap .data-table thead td {
  color: rgba(116, 115, 116, 1.0);
  font-weight: 700;
}

#wrap .data-table tbody tr {
  border-bottom: 2px solid rgba(239, 239, 239, 1.0);
}

#wrap .data-table tbody + tbody {
  border-top: 2px solid rgba(155, 155, 155, 1.0);
}

#wrap .data-table tbody tr:last-child {
  border-bottom: 0;
}

#wrap .data-table .special-tournament {
  border: 2px solid rgba(43, 113, 56, 1.0);
}

#wrap .data-table .special-tournament:before {
  background: rgba(43, 113, 56, 1.0);
  color: rgba(255, 255, 255, 1.0);
  content: "Special Tournament";
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

#wrap .data-table td {
  color: rgba(74, 74, 74, 1.0);
  font-size: 14px;
  padding: 9px;
}

#wrap .data-table td.date {
  color: rgba(74, 74, 74, 1.0);
  font-size: 12px;
}

#wrap .data-table td.result {
  font-weight: 700;
}

#wrap .data-table td.win:before {
  content: "W ";
  color: rgba(49, 172, 74, 1.0);
  font-weight: 900;
  margin-right: 10px;
}

#wrap .data-table td.lose:before {
  content: "L ";
  color: rgba(208, 49, 69, 1.0);
  font-weight: 900;
  margin-right: 10px;
}

#wrap .data-table td img {
  max-height: 16px;
  max-width: 16px;
}

#wrap .complex-table .borders {
  border-left: 2px solid rgba(215, 215, 215, 1.0);
  border-right: 2px solid rgba(215, 215, 215, 1.0);
}

#wrap .complex-table .sub-tablehead td:nth-child(2), #wrap .complex-table tbody td:nth-child(2) {
  width: 200px;
}

#wrap .complex-table tbody td {
  border-left: 2px solid rgba(239, 239, 239, 1.0);
}

#wrap .data-table.complex-table td img {
  margin-right: 6px;
}

#wrap .complex-table td:last-child {
  text-align: center !important;
}

#wrap .complex-table tbody td:nth-child(1) {
  border-left: 0;
  font-weight: 700;
}

#wrap .complex-table .main-tablehead td {
  padding-top: 15px;
}

#wrap .complex-table tbody td:nth-child(3),
#wrap .complex-table tbody td:nth-child(4),
#wrap .complex-table tbody td:nth-child(5),
#wrap .complex-table tbody td:nth-child(9),
#wrap .complex-table tbody td:nth-child(10),
#wrap .complex-table tbody td:nth-child(11),
#wrap .complex-table tbody td:nth-child(16),
#wrap .complex-table tbody td:nth-child(17) {
  background: rgba(239, 239, 239, 1.0);
  text-align: center;
}

#wrap .complex-table .sub-tablehead td:nth-child(3),
#wrap .complex-table tbody td:nth-child(3),
#wrap .complex-table .sub-tablehead td:nth-child(6),
#wrap .complex-table tbody td:nth-child(6),
#wrap .complex-table .sub-tablehead td:nth-child(9),
#wrap .complex-table tbody td:nth-child(9),
#wrap .complex-table .sub-tablehead td:nth-child(12),
#wrap .complex-table tbody td:nth-child(12),
#wrap .complex-table .sub-tablehead td:nth-child(16),
#wrap .complex-table tbody td:nth-child(16) {
  border-left: 2px solid rgba(215, 215, 215, 1.0) !important;
}

#wrap .complex-table .sub-tablehead td:nth-child(6),
#wrap .complex-table tbody td:nth-child(6),
#wrap .complex-table .sub-tablehead td:nth-child(7),
#wrap .complex-table tbody td:nth-child(7),
#wrap .complex-table .sub-tablehead td:nth-child(8),
#wrap .complex-table tbody td:nth-child(8),
#wrap .complex-table .sub-tablehead td:nth-child(12),
#wrap .complex-table tbody td:nth-child(12),
#wrap .complex-table .sub-tablehead td:nth-child(13),
#wrap .complex-table tbody td:nth-child(13),
#wrap .complex-table .sub-tablehead td:nth-child(14),
#wrap .complex-table tbody td:nth-child(14),
#wrap .complex-table .sub-tablehead td:nth-child(15),
#wrap .complex-table tbody td:nth-child(15) {
  text-align: center;
}

#wrap .complex-table tbody tr.automatic-bid td {
  background: rgba(101, 193, 120, 1.0);
}

#wrap .complex-table tbody tr.conference-leader td {
  background: rgba(203, 234, 210, 1.0);
}

#wrap .complex-table tbody tr.ineligible-postseason td {
  background: rgba(155, 155, 155, 1.0);
}

#wrap main {
  overflow: hidden;
}

#wrap main img {
  max-width: 100%;
}

#wrap main section + section {
  margin-top: 30px;
}

#wrap main .headline-photo {
  margin: 0;
  width: 100%;
}

#wrap main .headline-photo h2 {
  margin: 10px 0;
}

#wrap main .headline-photo a:hover h2 {
  color: rgba(43, 113, 56, 1.0);
}

#wrap main .caption {
  color: rgba(155, 155, 155, 1.0);
  float: right;
  font-size: 12px;
  margin-top: 6px;
}

#wrap main .content {
  margin-left: 30px;
}

#wrap main .post-content {
  border-bottom: 2px solid rgba(239, 239, 239, 1.0);
  margin-bottom: 30px;
  padding-bottom: 30px;
}

#wrap main h1.post-title {
  color: rgba(74, 74, 74, 1.0);
}

#wrap main a:hover h1.post-title {
  color: rgba(43, 113, 56, 1.0);
}

#wrap main .categories {
  color: rgba(43, 113, 56, 1.0);
  font-size: 14px;
  font-weight: bolder;
  text-transform: uppercase;
}

#wrap main .post-meta {
  color: rgba(155, 155, 155, 1.0);
  font-size: 14px;
  margin-left: 10px;
}

#wrap main ul {
  padding: 0 20px;
}

#wrap main p.main {
  font-size: 22px;
  line-height: 27px;
}

#wrap main .ad {
  border-bottom: 2px solid rgba(43, 113, 56, 1.0);
  margin-bottom: 30px;
  padding-bottom: 30px;
}

#wrap h4.category {
  color: rgba(43, 113, 56, 1.0);
  margin-top: 0;
}

#wrap h4.category.red {
  color: rgba(208, 49, 69, 1.0);
}

#wrap .byline {
  color: rgba(74, 74, 74, 1.0);
  font-size: 14px;
}

#wrap .subsection-head {
  color: rgba(74, 74, 74, 1.0);
  font-size: 14px;
  font-weight: 700;
}

#wrap .teasers .row {
  overflow: hidden;
}

#wrap .teasers .teaser-item {
  width: 47.5%;
  float: left;
}

#wrap .teasers .teaser-item + .teaser-item {
  margin-left: 5%;
}

#wrap .teasers figure {
  margin: 0;
}

#wrap .teasers h3 {
  margin-top: 6px;
}

#wrap a:hover h3 {
  color: rgba(43, 113, 56, 1.0);
}

#wrap .trending {
  border-bottom: 2px solid rgba(239, 239, 239, 1.0);
  margin-bottom: 30px;
}

#wrap .trending .row {
  overflow: hidden;
}

#wrap .trending .trending-item {
  width: 47.5%;
  float: left;
}

#wrap .trending .trending-item + .trending-item {
  margin-left: 5%;
}

#wrap .trending figure {
  margin: 0;
}

#wrap .trending h3 {
  margin-top: 6px;
}

#wrap .trending span {
  color: rgba(155, 155, 155, 1.0);
  display: block;
  font-size: 14px;
  font-weight: lighter;
  line-height: 14px;
  margin-top: 10px;
}

#wrap .trending p {
  color: rgba(74, 74, 74, 1.0);
  font-size: 16px;
  font-weight: lighter;
  line-height: 20px;
  margin-top: 12px;
}

#wrap .more-stories {
  margin-bottom: 30px;
}

#wrap .more-stories h3 {
  margin-top: 0;
}

#wrap .more-stories .row {
  overflow: hidden;
}

#wrap .more-stories .more-stories-item figure {
  width: 47.5%;
  float: left;
  margin: 0;
}

#wrap .more-stories .stories-content{
  margin-left: 5%;
  float: left;
  width: 47.5%;
}

#wrap .more-stories h2 {
  color: rgba(74, 74, 74, 1.0);
  font-size: 24px;
  font-weight: bolder;
  line-height: 24px;
  margin-top: 6px;
  margin-bottom: 0;
}

#wrap .more-stories span {
  color: rgba(155, 155, 155, 1.0);
  display: block;
  font-size: 14px;
  font-weight: lighter;
  line-height: 14px;
  margin-top: 10px;
}

#wrap .more-stories p {
  color: rgba(74, 74, 74, 1.0);
  font-size: 16px;
  font-weight: lighter;
  line-height: 20px;
  margin-top: 12px;
}

/*
  Article styles
*/

#wrap.article main {
  background: white;
  position: relative;
}

#wrap.article .article-img {
  margin-bottom: -170px;
}

#wrap.article aside, #wrap.article .aside {
  margin-top: 170px;
}

#wrap.article .post-navigation {
  border-bottom: 2px solid rgba(239, 239, 239, 1.0);
  margin-bottom: 30px;
  padding-bottom: 30px;
  position: relative;
}

#wrap.article .post-navigation > div {
  width: 150px;
  white-space: nowrap;
}

#wrap.article .post-navigation > div:hover * {
  color: rgba(43, 113, 56, 1.0);
}

#wrap.article .post-navigation a {
  text-decoration: none;
}

#wrap.article .post-navigation .arrow {
  font-size: 32px;
  display: inline-block;
}

#wrap.article .post-navigation .previous .arrow {
  padding-right: 20px;
}

#wrap.article .post-navigation .next .arrow {
  padding-left: 20px;
}

#wrap.article .post-navigation .next {
  padding-right: 50px;
}

#wrap.article .post-navigation a div {
  display: inline-block;
  white-space: normal;
}

#wrap.article .post-navigation a span {
  display: block;
  vertical-align: top;
}

#wrap.article .category-list p {
  font-size: 12px;
}

#wrap.article .related {
  border: 5px solid rgba(43, 113, 56, 1.0);
}

/*
  Scores styles
*/

#wrap.scores main .content, #wrap.statistics main .content, #wrap.nitty-gritty main .content, #wrap.pythagorean-expectation main .content, #wrap.user-account main .content {
  margin-right: 30px;
}

#wrap.scores h1, #wrap.scores h3 {
  display: inline-block;
  margin-right: 10px;
}

#wrap.scores hgroup a {
  color: rgba(49, 172, 74, 1.0);
  text-decoration: none;
}

#wrap.scores .score-set h3 {
  margin-bottom: 22px;
  margin-top: 0;
}


#wrap.scores .score-set-item td:first-child {
  width: 30px;
}

#wrap.scores .score-set-item tr td:last-child {
  padding-right: 0;
  text-align: right;
  width: 10px;
}

#wrap.scores .score-set-item tr td:nth-child(3) {
  text-align: right;
}

#wrap.scores .score-set-item img {
  width: 16px;
}

/*
  Team Profile styles
*/
.team-header {
  overflow: hidden;
  padding: 30px 30px 15px 30px;
  position: relative;
}

.team-header-left {
  display: inline-block;
}

.team-header-right {
  width: 300px;
}

.team-header > img {
  position: absolute;
  opacity: 0.2;
  top: -10%;
  height: 120%;
}

.team-header > div {
  position: relative;
}

.team-header h1 {
  color: rgba(255, 255, 255, 1.0);
  display: inline;
}

.team-header h3 {
  color: rgba(215, 215, 215, 1.0);
  display: inline;
  margin-left: 15px;
}

.team-header nav {
  margin-top: 36px;
}

.team-header nav a {
  color: rgba(255, 255, 255, 1.0);
  font-size: 14px;
  font-weight: 900;
  text-decoration: none;
  padding: 10px;
}

.team-header nav a:first-child {
  padding-left: 0;
}

.team-header .team-logo img {
  max-width: 45px;
}

.team-header-left p {
  color: rgba(255, 255, 255, 1.0);
  font-size: 14px;
  margin: 0;
}

.good-luck {
  background: rgba(49, 172, 74, 1.0);
  border-radius: 4px;
  color: rgba(255, 255, 255, 1.0);
  font-size: 14px;
  font-weight: 700;
  padding: 4px 10px;
}

.bad-luck {
  background: rgba(208, 49, 69, 1.0);
  border-radius: 4px;
  color: rgba(255, 255, 255, 1.0);
  font-size: 14px;
  font-weight: 700;
  padding: 4px 10px;
}

.filters .bad-luck {
  margin-top: 8px;
}

.cite {
  margin-top: 0px;
}

.cite span {
  color: rgba(155, 155, 155, 1.0);
  font-size: 14px;
  font-weight: 300;
}

.cite span span {
  color: rgba(255, 255, 255, 1.0);
  font-weight: 900;
}

.score-board > div {
  background: rgba(86, 40, 146, 1.0);
  border-radius: 10px;
  color: rgba(239, 239, 239, 1.0);
  display: inline-block;
  font-size: 30px;
  font-weight: 900;
  line-height: 24px;
  padding: 12px 20px;
  text-align: center;
}

.score-board > div + div {
  margin-left: 15px;
}

.score-board > div span {
  color: rgba(215, 215, 215, 1.0);
  display: block;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}

.team-profile .data-table.schedule td:first-child {
  width: 17%;
}

.team-profile .data-table.schedule td:nth-child(2){
  width: 8%;
}

.team-profile .data-table.schedule td:nth-child(3){
  width: 12%;
}

.team-profile .data-table.schedule td:nth-child(4){
  width: 22%;
}

.team-profile .data-table.schedule td:nth-child(5){
  width: 16%;
}

.team-profile .data-table.schedule td:nth-child(6){
  width: 13%;
}

.team-profile .data-table.schedule td:nth-child(7){
  text-align: center;
}

.team-profile .data-table.schedule > div {
  border: 2px solid rgba(255, 255, 255, 1.0);
}

.team-profile .data-table.schedule > .special-tournament {
  border: 2px solid rgba(43, 113, 56, 1.0);
}

/*
  Player profile styles
*/

.player-header {
  background: rgba(74, 74, 74, 1.0);
  padding: 20px 30px;
}

.player-header .team-logo {
  background: rgba(255, 255, 255, 1.0);
  padding: 20px 62px;
  margin-left: -30px;
}

.player-header .team-logo img {
  max-width: 45px;
}

.player-header h1 {
  color: rgba(255, 255, 255, 1.0);
  display: inline;
}

.player-header h3 {
  color: rgba(215, 215, 215, 1.0);
  display: inline;
  margin-left: 15px;
}

.player-header .team-header-left {
  margin-left: 20px;
}

.player-header .player-info {
  display: inline-block;
  margin-top: 10px;
}

.player-header select {
  background: rgba(155, 155, 155, 1.0);
  border: 0;
  color: rgba(255, 255, 255, 1.0);
  height: 26px;
  width: 220px;
}

.player-header .player-info span {
  font-size: 14px;
}

.player-header .player-info .row > div {
  display: inline-block;
}

.player-header .player-info .row > div + div {
  margin-left: 10px;
}

.player-header .info-label {
  color: rgba(155, 155, 155, 1.0);
  font-weight: 900;
}

.player-header .info {
  color: rgba(255, 255, 255, 1.0);
  font-weight: 900;
}

.player-header .score-board .title {
  color: rgba(255, 255, 255, 1.0);
  font-size: 14px;
  font-weight: 900;
  margin-bottom: 10px;
}

.player-header .score-board > div {
    background: rgba(116, 115, 116, 1.0);
    font-size: 18px;
    line-height: 18px;
    padding: 12px;
}

#wrap.player-profile .data-table td {
  padding: 5px;
  border: 2px solid rgba(239, 239, 239, 1.0);
  text-align: center;
}

#wrap.player-profile section + section {
  border-top: 2px solid rgba(43, 113, 56, 1.0);
}

#wrap.player-profile .byline {
  color: rgba(155, 155, 155, 1.0);
  display: block;
  font-size: 14px;
}

#wrap.player-profile .note-item + .note-item {
  border-top: 2px solid rgba(239, 239, 239, 1.0);
  margin-top: 20px;
}

#wrap.player-profile .note-item .byline {
  margin-top: 10px;
}

#wrap.player-profile h5 {
  color: rgba(116, 115, 116, 1.0);
  margin-bottom: 0;
}

#wrap.player-profile a:hover h5 {
  color: rgba(43, 113, 56, 1.0);
}


/*
  Archive styles
*/

#wrap.archive .searchbox {
  background: rgba(239, 239, 239, 1.0);
  padding: 30px 20px;
  margin: 30px 0;
}

#wrap.archive .searchbox * {
  display: inline-block;
  vertical-align: middle;
}

#wrap.archive .searchbox h4 {
  margin: 0;
}

#wrap.archive .searchbox form {
  position: relative;
  width: 85%;
}

#wrap.archive .searchbox input {
  border: 0;
  border-radius: 6px;
  border: 1px solid rgba(215, 215, 215, 1.0);
  margin-left: 10px;
  padding: 5px 10px;
  width: 100%;
}

#wrap.archive .searchbox button {
  border: 0;
  background: 0;
  color: rgba(43, 113, 56, 1.0);
  position: absolute;
  top: 0;
  right: -20px;
}

#wrap.archive .more-stories-item + .more-stories-item {
  margin-top: 20px;
}

/*
  Statistics styles
*/

#wrap.statistics .data-table + .data-table {
  border-top: 2px solid rgba(239, 239, 239, 1.0);
}

#wrap.statistics td:last-child {
  text-align: right;
}

#wrap.statistics .data-table tbody tr:last-child {
  border-bottom: 2px solid rgba(239, 239, 239, 1.0);
}

#wrap.statistics .data-table nav {
  color: rgba(116, 115, 116, 1.0);
  font-size: 14px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
}

#wrap.statistics .data-table nav a {
  color: rgba(116, 115, 116, 1.0);
  font-weight: 700;
}

#wrap.statistics .data-table nav a:hover {
  color: rgba(43, 113, 56, 1.0);
  font-weight: 700;
}


/*
  Conference overview styles
*/

.conference-overview .player-header h1 {
  max-width: 300px;
  display: inline-block;
  margin-top: 0;
}

.conference-overview .player-header .team-logo img {
  max-width: 60px;
}

.conference-overview .player-header .score-board > div {
  width: 32px;
}


/*
  Nitty gritty styles
*/

.nitty-gritty .player-header .team-logo img {
  max-width: 60px;
}

.nitty-gritty .player-header .team-logo {
  padding: 20px 42px;
}

.filters.complex-table span {
  border-radius: 4px;
  display: inline-block;
  color: rgba(74, 74, 74, 1.0);
  font-size: 14px;
  padding: 4px 10px;
}

.filters.complex-table span.automatic-bid {
  background: rgba(101, 193, 120, 1.0);
}

.filters.complex-table span.conference-leader {
  background: rgba(203, 234, 210, 1.0);
}

.filters.complex-table span.ineligible-postseason {
  background: rgba(155, 155, 155, 1.0);
}

.filters.complex-table span.key {
  font-size: 12px;
  font-style: italic;
  padding: 2px 6px;
}

/*
  Pythagorean Expectation
*/
#wrap.pythagorean-expectation .complex-table td {
  padding: 7px;
}

#wrap.pythagorean-expectation .complex-table .sub-tablehead td {
  text-align: center;
}

#wrap.pythagorean-expectation .complex-table .sub-tablehead td:nth-child(1),
#wrap.pythagorean-expectation .complex-table tbody td:nth-child(1) {
  width: 300px;
}

#wrap.pythagorean-expectation .complex-table .sub-tablehead td:nth-child(2),
#wrap.pythagorean-expectation .complex-table tbody td:nth-child(2) {
  width: auto;
}

#wrap .complex-table tbody td {
  border-left: 2px solid rgba(239, 239, 239, 1.0);
}

#wrap .data-table.complex-table td img {
  margin-right: 6px;
}

#wrap.pythagorean-expectation .complex-table td:last-child {
  text-align: center !important;
}

#wrap.pythagorean-expectation .complex-table tbody td:nth-child(1) {
  border-left: 0;
  font-weight: 300;
}

#wrap.pythagorean-expectation .complex-table .main-tablehead td {
  padding-top: 15px;
}

#wrap.pythagorean-expectation .complex-table tbody td:nth-child(3),
#wrap.pythagorean-expectation .complex-table tbody td:nth-child(4),
#wrap.pythagorean-expectation .complex-table tbody td:nth-child(9),
#wrap.pythagorean-expectation .complex-table tbody td:nth-child(10),
#wrap.pythagorean-expectation .complex-table tbody td:nth-child(16) {
  background: rgba(255, 255, 255, 1.0);
}

#wrap.pythagorean-expectation .complex-table tbody td:nth-child(2),
#wrap.pythagorean-expectation .complex-table tbody td:nth-child(3),
#wrap.pythagorean-expectation .complex-table tbody td:nth-child(5),
#wrap.pythagorean-expectation .complex-table tbody td:nth-child(6),
#wrap.pythagorean-expectation .complex-table tbody td:nth-child(7),
#wrap.pythagorean-expectation .complex-table tbody td:nth-child(11),
#wrap.pythagorean-expectation .complex-table tbody td:nth-child(12) {
  background: rgba(239, 239, 239, 1.0);
  text-align: center;
}

#wrap.pythagorean-expectation .complex-table .sub-tablehead td:nth-child(3),
#wrap.pythagorean-expectation .complex-table tbody td:nth-child(3),
#wrap.pythagorean-expectation .complex-table .sub-tablehead td:nth-child(6),
#wrap.pythagorean-expectation .complex-table tbody td:nth-child(6),
#wrap.pythagorean-expectation .complex-table .sub-tablehead td:nth-child(9),
#wrap.pythagorean-expectation .complex-table tbody td:nth-child(9),
#wrap.pythagorean-expectation .complex-table .sub-tablehead td:nth-child(12),
#wrap.pythagorean-expectation .complex-table tbody td:nth-child(12),
#wrap.pythagorean-expectation .complex-table .sub-tablehead td:nth-child(16),
#wrap.pythagorean-expectation .complex-table tbody td:nth-child(16) {
  border-left: 2px solid rgba(239, 239, 239, 1.0) !important;
}


#wrap.pythagorean-expectation .complex-table .sub-tablehead td:nth-child(2),
#wrap.pythagorean-expectation .complex-table tbody td:nth-child(2),
#wrap.pythagorean-expectation .complex-table .sub-tablehead td:nth-child(4),
#wrap.pythagorean-expectation .complex-table tbody td:nth-child(4),
#wrap.pythagorean-expectation .complex-table .sub-tablehead td:nth-child(5),
#wrap.pythagorean-expectation .complex-table tbody td:nth-child(5),
#wrap.pythagorean-expectation .complex-table .sub-tablehead td:nth-child(8),
#wrap.pythagorean-expectation .complex-table tbody td:nth-child(8),
#wrap.pythagorean-expectation .complex-table .sub-tablehead td:nth-child(11),
#wrap.pythagorean-expectation .complex-table tbody td:nth-child(11) {
  border-left: 2px solid rgba(215, 215, 215, 1.0) !important;
}

#wrap.pythagorean-expectation .complex-table thead td:last-child,
#wrap.pythagorean-expectation .complex-table tbody td:last-child {
  border-right: 2px solid rgba(215, 215, 215, 1.0) !important;
}

#wrap.pythagorean-expectation .complex-table .sub-tablehead td:nth-child(6),
#wrap.pythagorean-expectation .complex-table tbody td:nth-child(6),
#wrap.pythagorean-expectation .complex-table .sub-tablehead td:nth-child(7),
#wrap.pythagorean-expectation .complex-table tbody td:nth-child(7),
#wrap.pythagorean-expectation .complex-table .sub-tablehead td:nth-child(8),
#wrap.pythagorean-expectation .complex-table tbody td:nth-child(8),
#wrap.pythagorean-expectation .complex-table .sub-tablehead td:nth-child(12),
#wrap.pythagorean-expectation .complex-table tbody td:nth-child(12),
#wrap.pythagorean-expectation .complex-table .sub-tablehead td:nth-child(13),
#wrap.pythagorean-expectation .complex-table tbody td:nth-child(13),
#wrap.pythagorean-expectation .complex-table .sub-tablehead td:nth-child(14),
#wrap.pythagorean-expectation .complex-table tbody td:nth-child(14),
#wrap.pythagorean-expectation .complex-table .sub-tablehead td:nth-child(15),
#wrap.pythagorean-expectation .complex-table tbody td:nth-child(15) {
  text-align: center;
}

#wrap.pythagorean-expectation .complex-table tbody tr.automatic-bid td {
  background: rgba(101, 193, 120, 1.0);
}

#wrap.pythagorean-expectation .complex-table tbody tr.conference-leader td {
  background: rgba(203, 234, 210, 1.0);
}

#wrap.pythagorean-expectation .complex-table tbody tr.ineligible-postseason td {
  background: rgba(155, 155, 155, 1.0);
}

/*
  User Account
*/
#wrap.user-account .team-header-left .user-name {
  color: rgba(255, 255, 255, 1.0);
  font-size: 14px;
  font-weight: 900;
}

#wrap.user-account .team-header-left .sign-in {
  color: rgba(255, 255, 255, 1.0);
  font-size: 14px;
  margin-left: 6px;
}

#wrap.user-account .team-header-left .sign-in a {
  color: rgba(49, 172, 74, 1.0);
  text-decoration: none;
}

#wrap.user-account .team-header-left .email {
  color: rgba(255, 255, 255, 1.0);
  display: block;
  font-size: 14px;
  font-weight: 900;
  margin-top: 10px;
}

#wrap.user-account h3 {
  margin-bottom: 30px;
}

#wrap.user-account .team-logo {
  padding: 5px 5px 5px 75px;
}

#wrap.user-account .team-logo figure {
  margin: 0;
  width: 90px;
  height: 90px;
  overflow: hidden;
  position: relative;
}

#wrap.user-account .team-logo figure .edit {
  background: rgba(74, 74, 74, 0.6);
  border-radius: 26px;
  color: rgba(255, 255, 255, 1.0);
  position: absolute;
  display: inline-block;
  padding: 2px 6px;
  top: 4px;
  right: 4px;
  font-size: 9px;
  text-decoration: none;
  text-transform: uppercase;
}

#wrap.user-account .team-logo figure img {
  width: auto;
  max-width: 130%;
}

#wrap .account-info {
  overflow: hidden;
  padding-bottom: 90px;
  padding-right: 10px;
}

#wrap.user-account .button {
  background: rgba(239, 239, 239, 1.0);
  border: 1px solid rgba(215, 215, 215, 1.0);
  border-radius: 6px;
  color: rgba(116, 115, 116, 1.0);
  display: inline-block;
  font-size: 14px;
  padding: 12px 14px;
  text-decoration: none;
}

#wrap .account-info table {
  margin-top: 30px;
}

#wrap .account-info table p {
  margin: 0;
}

#wrap .account-info table td {
  padding: 5px;
  font-weight: 300;
  vertical-align: top;
}

#wrap .account-info td:first-child {
  color: rgba(43, 113, 56, 1.0);
  font-size: 14px;
  font-weight: 900;
  width: 80px;
}

#wrap .account-info td:nth-child(2) {
  color: rgba(74, 74, 74, 1.0);
  font-size: 16px;
}

#wrap .account-info table .button {
  width: 140px;
  padding: 12px 0;
  text-align: center;
  margin: 5px auto;
}

#wrap .subscription {
  text-align: center;
  width: 390px;
  padding-left: 10px;
  border-left: 2px solid rgba(239, 239, 239, 1.0);
}

#wrap .subscription h3 {
  text-align: left;
}

#wrap .subscription h4.category {
  margin-top: 15px;
  margin-bottom: 0;
}

#wrap .subscription h4.related {
  color: rgba(116, 115, 116, 1.0);
  font-size: 16px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 16px;
}

#wrap .subscription a.switch {
  background: rgba(43, 113, 56, 1.0);
  border-radius: 6px;
  color: rgba(255, 255, 255, 1.0);
  display: block;
  margin-top: 30px;
  padding: 15px 58px;
  font-weight: 900;
  text-decoration: none;
}

/*
  Aside styles
*/

aside, .aside {
  padding: 22px 30px 0 20px;
  width: 300px;
}

#wrap aside img,  #wrap .aside img {
  width: 100%;
}

aside section + section, .aside section + section {
  border-top: 2px solid rgba(43, 113, 56, 1.0);
  margin-top: 30px;
  padding-top: 30px;
}

aside section h2, .aside section h2 {
  margin-bottom: 6px;
  margin-top: 20px;
}

aside #search form, .aside #search form {
  position: relative;
}

aside #search input, .aside #search input {
  border: 0;
  border-radius: 6px;
  border: 1px solid rgba(215, 215, 215, 1.0);
  padding: 2%;
  width: 96%;
}

aside #search button, .aside #search button {
  border: 0;
  background: 0;
  color: rgba(43, 113, 56, 1.0);
  position: absolute;
  top: 3px;
  right: 0;
}

aside ul, .aside ul {
  padding: 0;
  margin: 0;
}

aside ul li, .aside ul li {
  color: rgba(116, 115, 116, 1.0);
  list-style: none;
  line-height: 24px;
}

aside li a, .aside li a {
  color: rgba(116, 115, 116, 1.0);
  text-decoration: none;
}

aside li a:hover, .aside li a:hover {
  color: rgba(43, 113, 56, 1.0);
}

aside .ad, .aside .ad {
  max-width: 100%;
}

aside .team-logo, .aside .team-logo {
  max-width: 18px;
}

aside ol, .aside ol {
  margin: 0;
  padding: 0;
  font-weight: bold;
  counter-reset: item;
  list-style-type: none;
}

aside ol li, .aside ol li {
  color: rgba(116, 115, 116, 1.0);
  display: block;
  line-height: 30px;
}

aside ol li:before, .aside ol li:before {
  content: counter(item) "  ";
  counter-increment: item;
  display: inline-block;
  width: 40px;
  vertical-align: middle;
}

aside ol li span, .aside ol li span {
  color: rgba(74, 74, 74, 1.0);
  font-weight: normal;
  margin-left: 10px;
  vertical-align: middle;
}

aside #top-25 hgroup span {
  color: rgba(116, 115, 116, 1.0);
  display: block;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}

aside #top-25 hgroup span + span {
  color: rgba(116, 115, 116, 1.0);
  font-size: 14px;
  line-height: 16px;
}

aside #player-power-ranking {

}

footer {
  background: rgba(255, 255, 255, 1.0);
  display: block;
}

footer .content {
  border-top: 2px solid rgba(43, 113, 56, 1.0);
  margin: 0 30px;
  padding: 22px 0;
}

footer .logo {
  width: 160px;
  max-width: 90%;
}

footer nav {
  margin-bottom: 16px;
}

footer nav a {
  color: rgba(74, 74, 74, 1.0);
  font-size: 16px;
  text-decoration: none;
  padding: 4px 12px;
}

footer nav a:hover {
  color: rgba(43, 113, 56, 1.0);
}

footer nav a:last-child {
  padding-right: 0;
}

footer .ad {
  width: auto;
  margin: auto;
  max-width: 90%;
  max-width: 100%;
}

footer .ad img {
  width: auto;
  max-width: 100%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


 @media only screen and (max-width: 1050px) {
   aside, .aside {
     width: 270px;
   }

   #wrap .subscription {
     width: auto;
     padding-left: 0;
     border: 0;
     float: none !important;
   }

  #wrap .account-info {
    overflow: auto;
    display: block;
    width: 100%;
  }

  #wrap .account-info table {
    width: 100%;
  }
 }

@media only screen and (max-width: 940px) {
  header nav.nav-main a {
    font-size: 15px;
    padding: 0 6px;
  }

  aside, .aside {
    width: 230px;
  }

  footer .content {
    padding: 22px 20px;
  }

  footer .logo {
    width: 60px;
  }

  footer .logo img {
    width: 100%;
  }

  footer nav a {
    padding: 4px 10px;
  }

  footer .right-side {
    max-width: 70%;
    float: left;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 770px) {
  .mobile-visible {
    display: inline-block !important;
  }

  .mobile-hidden {
    display: none !important;
  }

  #mobile-menu {
    margin-top: -44px;
    top: inherit;
    left: 0;
    right: 0;
    background: rgba(236, 236, 236, 1.0);
    height: 100%;
    padding: 20px;
    width: auto;

    display: none;
    visibility: hidden;
    opacity: 0;

    -webkit-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
    -moz-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
    -o-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
    transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
    -webkit-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000);
    -o-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000);
    transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000);
  }

  #mobile-menu.active {
    display: block;
    visibility: visible;
    opacity: 1.0;
  }

  #mobile-menu form {
    position: relative;
  }

  #mobile-menu form input {
    display: block;
    border: 0;
    border-radius: 4px;
    padding: 10px 2px 10px 50px;
    width: 84%;
    background: rgba(215, 215, 215, 1.0);
    outline:none;
  }

  #mobile-menu form label {
    position: absolute;
    background: none;
    border: 0;
    font-size: 22px;
    left: 10px;
    top: 10%;
  }

  #mobile-menu nav {
    margin-top: 10px;
  }

  #mobile-menu nav > * {
    display: block;
    border-bottom: 1px solid rgba(215, 215, 215, 1.0);
    padding: 8px 0;
    margin: 0;
  }

  #mobile-menu nav a {
    font-size: 15px;
    text-decoration: none;
  }

  h1 {
    font-size: 24px;
    line-height: 24px;
  }

  h3 {
    font-size: 16px;
    line-height: 16px;
  }

  .half, .third {
    width: 100%;
  }

  .half + .half, .third + .third {
    margin: 0;
  }

  .fourth {
    width: 48.75%;
  }

  .score-set-item {
    margin-bottom: 10px;
  }

  .score-set-item:nth-child(3) {
    margin-left: 0;
  }

  #wrap .data-table td {
    padding: 5px 2px;
  }

  #wrap.scores .score-set h3 {
    margin-bottom: 12px;
  }

  #wrap.conference-overview .player-header .team-header-left {
    width: 230px;
  }

  #wrap.conference-overview .score-board {
    width: 236px;
    margin-top: 10px;
  }

  #wrap main section + section {
    margin-top: 20px;
  }

  #wrap .filters {
    padding: 20px 0;
  }

  #wrap .filters .date {
    margin-left: 0;
    margin-top: 8px;
  }

  #wrap .select-style {
    padding-right: 8px;
    width: auto;
  }

  #wrap .select-style + .select-style {
    margin-left: 5px;
  }

  #wrap.scores h1 {
    display: block;
  }

  #wrap.scores h3 {
    display: inline-block;
  }

  .account-info table td {
    padding: 3px;
    font-weight: 300;
    display: block;
  }

  header .fixed-position {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  header .nav-main {
    background: rgba(49, 172, 74, 1.0);
    padding: 20px;
  }

  header .nav-toggle {
    color: rgba(255, 255, 255, 1.0);
    cursor: pointer;
    font-size: 30px;
    width: 30px;
    line-height: 30px;
  }

  header .logo {
    background: none;
    color: rgba(255, 255, 255, 1.0);
    font-family: franchise;
    font-size: 30px;
    height: 30px;
    line-height: 38px;
    margin-left: 20px;
    padding: 0;
    text-decoration: none;
    width: auto;
  }

  header .logo span {
    background: none;
    color: rgba(255, 255, 255, 1.0);
    font-family: franchise;
    font-size: 22px;
    padding: 0;
    text-decoration: none;
  }

  header .subscribe {
    background: rgba(43, 113, 56, 1.0);
    border-radius: 4px;
    color: rgba(255, 255, 255, 1.0);
    font-size: 12px;
    font-weight: 900;
    padding: 6px 12px;
    text-decoration: none;
    text-transform: uppercase;
  }

  header nav.mobile-visible {
    background: rgba(43, 113, 56, 1.0);
    padding: 10px;
    display: table !important;
    width: 100%;
  }

  header nav.mobile-visible a {
    color: rgba(255, 255, 255, 1.0);
    display: table-cell;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
  }

  header nav.mobile-visible a + a {
    border-left: 2px solid rgba(49, 172, 74, 0.5);
  }

  .team-header nav {
    margin-top: 6px;
  }

  .ad {
    width: auto;
    margin: 0 auto;
    max-width: 100%;
    padding: 10px 28px;
  }

  #wrap {
    max-width: 100%;
    width: auto;
  }

  .content {
    padding: 0 20px;
    margin: 0 !important;
  }

  #wrap main .ad {
    padding: 0;
    padding-bottom: 20px;
    margin-bottom: 8px;
    margin-top: 20px;
  }

  #wrap main .post-content {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  #wrap main p.main, p {
    font-size: 15px;
    line-height: 19px;
  }

  #wrap main p.main {
    font-size: 15px;
    line-height: 19px;
    margin-top: 4px;
  }

  #wrap main h1.post-title {
    margin-top: 24px;
    margin-bottom: 0;
  }

  #wrap main .caption {
    margin-right: 10px;
  }

  #wrap main .categories {
    font-size: 12px;
  }

  #wrap .trending .trending-item {
    width: 100%;
  }

  #wrap .trending .trending-item + .trending-item {
    margin-left: 0;
    margin-top: 20px;
  }

  #wrap main img {
    width: 100%;
  }

  #wrap .trending {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  #wrap .trending h3 {
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    margin-top: 10px;
  }

  #wrap .trending p {
    margin-top: 4px;
  }

  #wrap.article .article-img {
    margin: 0;
  }

  #wrap.article .article-img img {
    width: 100%;
  }

  #wrap .img-wrap {
    margin-left: -20px;
    margin-right: -20px;
  }

  #wrap.article .post-navigation .next {
    padding-right: 20px;
  }

  #wrap.article .post-navigation .arrow {
    font-size: 22px;
  }

  #wrap.article .post-navigation .previous .arrow {
    padding-right: 10px;
  }

  #wrap.article .post-navigation .next .arrow {
    padding-left: 0;
  }

  ul.tabs li {
    width: 100px;
  }

  .player-header .team-logo {
    padding: 10px 32px;
  }

  .player-header .team-header-left {
    float: left !important;
    margin: 0;
    margin-left: 10px;
    width: 240px;
  }

  .team-header-right {
    float: left !important;
    margin-top: 10px;
    width: 294px;
  }

  #wrap.user-account .player-header .team-header-left {
    width: 150px;
  }

  #wrap .row + .row {
    margin-top: 10px;
  }

  .player-header .player-info .row > div {
    display: block;
  }

  .player-header .player-info .row > div + div {
    margin-left: 0;
  }

  .player-info {
    width: 220px;
  }

  .player-header h3 {
    margin-left: 5px;
  }

  .container {
    width: auto;
    max-width: 100%;
  }

  .filters.mobile-visible {
    display: block !important;
  }

  select.mobile-visible {
    background: rgba(155, 155, 155, 1.0);
    border: 0;
    color: rgba(255, 255, 255, 1.0);
    height: 26px;
    width: 100%;
  }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
