/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.flex-container {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
 -webkit-flex-direction: row;
 flex-direction: row;
}

.flex-container-center {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

body {
  background: rgba(239, 239, 239, 1.0);
}

header {
  width: 100%;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}

header .next {
  background: rgba(239, 239, 239, 1.0);
  cursor: pointer;
  font-size: 30px;
  padding: 36px 0 37px 0;
  padding-left: 10px;
  vertical-align: middle;
}

header .next:hover {
  background: rgba(245, 245, 245, 1.0);
}

header > div {
  vertical-align: middle;
}

header .left-side {
  width: 300px;
}

header .logo {
  background: rgba(74, 74, 74, 1.0);
  width: 140px;
  padding: 0 10px;
  padding-top: 10px;
  padding-bottom: 9px;
}

header .select-control {
  background: rgba(239, 239, 239, 1.0);
  padding: 32px 0;
  text-align: center;
  width: 140px;
}

header .select-control select {
  border: 1px solid rgba(155, 155, 155, 1.0);
  color: rgba(74, 74, 74, 1.0);
  font-size: 14px;
  height: 26px;
  width: 100%;
}

header .select-control .title {
  color: rgba(74, 74, 74, 1.0);
  display: block;
  font-size: 14px;
  margin-top: 6px;
}

header .score-tables {
  background: #fff;
  overflow:hidden;
}

header .score-table {
  border-right: 1px solid rgba(215, 215, 215, 1.0);
  outline: none;
  padding: 26px 10px;
}

header .score-table table {
  width: 100%;
}

header .score-table .score-status {
  font-size: 10px;
  text-transform: uppercase;
}

header .team-logo img{
  max-width: 16px;
}

header .score-tables td {
  font-size: 14px;
}

header .score-tables .score {
  text-align: right;
}

header .score-tables .winner .mark:before {
  color: rgba(49, 172, 74, 1.0);
  content: "\25C0";
  font-size: 10px;
  text-align: right;
}

#wrap {
  margin: 0 auto;
  max-width: 90%;
  width: 1000px;
}

.ad {
  max-width: 728px;
  margin: 18px auto;
}

.ad img {
  width: 100%;
}

#wrap nav.nav-social a {
  color: rgba(116, 115, 116, 1.0);
  font-size: 14px;
  padding: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

#wrap nav.nav-account a {
  color: rgba(116, 115, 116, 1.0);
  font-size: 12px;
  padding: 4px;
  text-decoration: none;
  text-transform: uppercase;
}

#wrap nav.nav-main {
  background: rgba(43, 113, 56, 1.0);
  margin-top: 10px;
  overflow: hidden;
  padding: 20px 20px;
}

#wrap nav.nav-main a {
  color: rgba(255, 255, 255, 1.0);
  font-size: 18px;
  line-height: 18px;
  padding: 0 10px;
  text-decoration: none;
}

#wrap nav.nav-main .pull-right a {
  font-weight: bold;
}

#wrap img {
  width: 100%;
}

#wrap .container {
  background: rgba(255, 255, 255, 1.0);
  display: block;
}

#wrap main {
  overflow: hidden;
}

#wrap main .headline-photo {
  margin: 0;
  width: 100%;
}

#wrap main .headline-photo span {
  color: rgba(155, 155, 155, 1.0);
  float: right;
  font-size: 12px;
  margin-top: 6px;
}

#wrap main .content {
  margin-left: 30px;
}

#wrap main .post-content {
  border-bottom: 2px solid rgba(239, 239, 239, 1.0);
  margin-bottom: 30px;
  padding-bottom: 30px;
}

#wrap main h1.post-title {
  color: rgba(74, 74, 74, 1.0);
  font-size: 48px;
  font-weight: bolder;
  line-height: 48px;
  margin-top: 24px;
  margin-bottom: 6px;
}

#wrap main .categories {
  color: rgba(43, 113, 56, 1.0);
  font-size: 14px;
  font-weight: bolder;
  text-transform: uppercase;
}

#wrap main .post-meta {
  color: rgba(155, 155, 155, 1.0);
  font-size: 14px;
  margin-left: 10px;
}

#wrap main .post-content p {
  color: rgba(74, 74, 74, 1.0);
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 0;
}

#wrap aside, #wrap .aside {
  padding: 0 30px 0 20px;
  width: 300px;
}

#wrap .teasers .row {
  margin-bottom: 30px;
  overflow: hidden;
}

#wrap .teasers .teaser-item {
  width: 47.5%;
  float: left;
}

#wrap .teasers .teaser-item + .teaser-item {
  margin-left: 5%;
}

#wrap .teasers figure {
  margin: 0;
}

#wrap .teasers figcaption {
  color: rgba(74, 74, 74, 1.0);
  font-size: 24px;
  font-weight: bolder;
  line-height: 24px;
  margin-top: 6px;
}

#wrap main .ad {
  border-bottom: 2px solid rgba(43, 113, 56, 1.0);
  margin-bottom: 30px;
  padding-bottom: 30px;
}


#wrap main .label {
  color: rgba(43, 113, 56, 1.0);
  font-size: 14px;
  font-weight: bolder;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#wrap .trending {
  border-bottom: 2px solid rgba(239, 239, 239, 1.0);
  margin-bottom: 30px;
}

#wrap .trending .row {
  margin-bottom: 30px;
  overflow: hidden;
}

#wrap .trending .trending-item {
  width: 47.5%;
  float: left;
}

#wrap .trending .trending-item + .trending-item {
  margin-left: 5%;
}

#wrap .trending figure {
  margin: 0;
}

#wrap .trending h2 {
  color: rgba(74, 74, 74, 1.0);
  font-size: 24px;
  font-weight: bolder;
  line-height: 24px;
  margin-top: 6px;
  margin-bottom: 0;
}

#wrap .trending span {
  color: rgba(155, 155, 155, 1.0);
  display: block;
  font-size: 14px;
  font-weight: lighter;
  line-height: 14px;
  margin-top: 10px;
}

#wrap .trending p {
  color: rgba(74, 74, 74, 1.0);
  font-size: 16px;
  font-weight: lighter;
  line-height: 20px;
  margin-top: 12px;
}

#wrap .more-stories {
  border-bottom: 2px solid rgba(239, 239, 239, 1.0);
  margin-bottom: 30px;
}

#wrap .more-stories .row {
  margin-bottom: 20px;
  overflow: hidden;
}

#wrap .more-stories .more-stories-item figure {
  width: 47.5%;
  float: left;
  margin: 0;
}

#wrap .more-stories .stories-content{
  margin-left: 5%;
  float: left;
  width: 47.5%;
}

#wrap .more-stories h2 {
  color: rgba(74, 74, 74, 1.0);
  font-size: 24px;
  font-weight: bolder;
  line-height: 24px;
  margin-top: 6px;
  margin-bottom: 0;
}

#wrap .more-stories span {
  color: rgba(155, 155, 155, 1.0);
  display: block;
  font-size: 14px;
  font-weight: lighter;
  line-height: 14px;
  margin-top: 10px;
}

#wrap .more-stories p {
  color: rgba(74, 74, 74, 1.0);
  font-size: 16px;
  font-weight: lighter;
  line-height: 20px;
  margin-top: 12px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
